@import 'styles/styles.scss';

.messages {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &Form {
    max-width: 100%;
    min-width: 90%;
    padding: 16px;
    background-color: white;
  }

  &Display {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }

  &Message {
    background-color: lighten($gray, 28%);
    border-radius: 4px;
    margin: 16px 16px;
    padding: 1px 16px;
    width: fit-content;

    &Admin {
      align-self: center;
    }

    &Mine {
      align-self: flex-end;
    }

    * {
      margin: 4px 0;
    }

    &Head {
      font-size: x-small;
      color: lighten($offBlack, 15%);

      &Name {
        color: $primary;
        font-weight: 200;
        font-size: small;
      }
    }

    &Text {
      word-break: break-word;
      hyphens: auto;
      color: $offBlack;
    }
  }
}
